# IDE related
.vscode
.idea
backend/tts-bot.js
webfront/.dccache
window1.html
webfront/child.html
webfront/obs_source.html
webfront/parent.html
webfront/parent.js
webfront/webrtc.js
webfront/test1.html
